*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21px 32px;
    background: #F9F9F8;
    border-bottom: 1px solid rgb(192, 200, 199,0.2);
}

#header-logo img{
    width: 100px;
    height: auto;
    padding: 0px 8px;
}

#header-links a{
    text-decoration: none;
    color: #404848;
    margin: 0px 12px;
    font-size: 16px;
    font-weight: 600;
}

#header-icons img{
    width: 20px;
    height: 20px;
    margin: 0px 12px;
    cursor: pointer;
}

.section-banner img{
    width: 100%;
    height: auto;
}

.div-banner{
    background-color: rgb(249, 249, 248, 0.15);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    position: absolute;
    padding: 32px 48px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #404848;
    border-radius: 12px;
}

.div-banner h1{
    font-size: 32px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: -.48px;
    margin-bottom: 16px;
}

.div-button-banner{
    margin: 48px 24px 48px 0px;
    padding: 13px 48px;
    background: #5F3523;
    border-radius: 8px;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: .28px;
}

.div-button-banner:hover {
    background: #5F3523;
    opacity: 0.8;
    cursor: pointer;
}