*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21px 32px;
    background: #F9F9F8;
    border-bottom: 1px solid rgb(192, 200, 199,0.2);
}

#header-logo img{
    width: 100px;
    height: auto;
    padding: 0px 8px;
}

#header-links a{
    text-decoration: none;
    color: #404848;
    margin: 0px 12px;
    font-size: 16px;
    font-weight: 600;
}

#header-icons img{
    width: 20px;
    height: 20px;
    margin: 0px 12px;
    cursor: pointer;
}

main{
    max-width: 1300px;
    margin: 0 auto;
}

.section-banner img{
    width: 100%;
    height: auto;
}

.div-banner{
    background-color: rgb(249, 249, 248, 0.15);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    position: absolute;
    padding: 32px 48px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #404848;
    border-radius: 12px;
}

.div-banner h1{
    font-size: 32px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: -.48px;
    margin-bottom: 16px;
}

.div-button-banner{
    margin: 48px 24px 48px 0px;
    padding: 13px 48px;
    background: #5F3523;
    border-radius: 8px;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: .28px;
}

.div-button-banner:hover {
    background: #5F3523;
    opacity: 0.8;
    cursor: pointer;
}

.section-categories {
    padding: 80px 32px;
    text-align: center;
    padding: 48px 32px;
}

.section-categories h2{
    font-size: 36px;
    font-weight: 600;
    line-height: 47px;
    margin-bottom: 8px;
    color: #114746;
}

.section-categories p{
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0.7px;
    color: #404848;
    margin-bottom: 48px;
}

.div-grid-products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
    gap: 32px;
}

.div-manta{
    position: relative;
    background-image: url("./assets/img/Caramelo\ com\ cru.png");
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    width: 600px;
    height: 600px;
}

.p-grid{
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    color: #FFF0ff;
    position: absolute;
    bottom: 2px;
    left: 12px;
}

.div-rede{
    position: relative;
    background-image: url("./assets/img/caramelo\ com\ cru\ -\ mulher.png");
    background-size: cover;
    aspect-ratio: 596 / 600;
    border-radius: 12px;
}